/* *{
  padding: 0;
  margin: 0;
}

.time, .tasks{
  height: 26px;
  border-radius: 3px;
  outline: none;
  border: none;
  padding: 2px;
}

main{
  height: 180px;
  width: 29vw;
  min-width: 350px;
  max-width: 350px;
  background-color: rgb(211, 211, 211);
  border-radius: 15px;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  padding: 15px 15px 0 15px;
  display: flex;
  justify-content: center;
  margin: 5px;
  gap: 15px;
}

main  .button{
  position: absolute;
  bottom: 0;
  right: 0;
  margin: 20px;
  background-color: rgba(0, 102, 255, 0.795);
  border-radius: 10px;
  border: none;
  height: 4vh;
  width: 12vw;
} 

main  .button:hover{
  background-color: rgb(0, 102, 255);
}
 */

 *{
  text-decoration: none;
 }

 .links{
  display: flex;
  justify-content: flex-end;
  gap: 10px;
 }

 .links .link{
  border: 15px solid;
  background-color: rgb(16, 117, 16);
  padding: 10px;
  color: white;
 }


 .head{
  color: red;
  font-size: 20px;
  margin-left: 30%;
  margin-top: -5%;
 }

 
 .head h3{
  color: red;
  font-size: 20px;
  margin-left: 20%;

 }

 .logo{
  position: absolute;
  top: 10%;
  right: 40%;
  
 }

 img{
  width: 40%;
  margin-left: 50%;
 }

 @media screen and (max-width: 600px) {

  .head h3{
    color: red;
    font-size: 10px;
    margin-left: 30%;
  
   }

   .head{
    color: red;
    font-size: 10px;
    margin-top: 150px;
    margin-left: 50px;
   }


   img{
    width: 100%;
    margin-left: 30%;
   }
  
}